/*section previev*/
#left-top-plase{
    height: var(--ra);
    width: calc(50% + var(--ra));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    left:0;
    position: absolute;
    background-color: var(--top-gray);
    background-image: url(/src/image/6.png);
    background-size: 100%;
}
#right-top-plase{
    height: var(--ra);
    width: calc(var(--ra) - 50%);
    right:0;
    position: absolute;
    background-color: var(--backgrey);
}
#news-bottom{
    height: calc(var(--ra)/5);
    width: var(--ra);
    margin-right: calc(var(--ra)*2);
    margin-bottom: calc(var(--ra)/5);
    background-color: white;
}
/*section news block*/
#position-news-block{
    display: inline-flex;
    justify-content: center;
}
#news{
    height: var(--ra);
    width: calc(var(--ra) * 3);
    background-color: var(--back-gray);
    position: absolute;
}
#stick-helper{
    height:var(--ra);
    width: 100vw;
    top: 0;
    right: 0;
}
#tumblers{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}
/*section images*/
#image-sec{
    display: inline-flex;
}
#shell-half-image{
    height: calc(var(--ra) * 2);
    width: var(--ra);
    position: relative;
}
#half-image{
    height: calc(var(--ra) * 2);
    width: calc(var(--ra) * 2);
    position: absolute;
    right: 0;
    background-color: var(--backgrey1);
    background-image: url(/src/image/0.png);
}
/*Картинки ra1h spec-top-left abs*/
img{size: auto 100%;}
#img{
    
}