.center-inline{
    display: inline-flex;
    width: 100vw;
    justify-content: center;
}
/*previev*/
#previev{height: var(--ra);}
#left-top-plase{
    height: var(--ra);
    width: calc(50% + var(--ra));
    position: absolute;
    left: 0;
    background-color: var(--imgBG);
    background-image: url(/src/image/0.jpg);
    background-size: 100%;
}
#right-top-plase{
    height: var(--ra);
    width: calc(50% - var(--ra));
    position: absolute;
    right: 0;
    background-color: var(--backgrey);
}
#top-news-button{
    height: 41px;
    width: var(--ra);
    background-color: white;
    position: absolute;
    right: 0;
    margin: 123px 412px 0 0;
}
/*news*/
#news-helper{
    display: flex;
    justify-content: center;
}
#news{
    width: calc(var(--ra)* 4);
    display: inline-flex;
    justify-content: center;
    
}
#news-block{
    height: var(--ra);
    width: calc(var(--ra) * 3);
    position: relative;
}
#news-block-helper{
    height: 100%;
    width: 100vw;
    position: absolute;
    right: 0;
    background-color: var(--backgrey);
}
#tumblers{
    height: var(--ra);
    width: var(--ra);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    background-color: var(--backgrey);
}
/*info-additionally-positions
Indicates blocks position*/
#info-additionally-positions-healper{
    display: flex;
    justify-content: center;
}
#info-additionally-positions{
    width: calc(var(--ra) * 6);
    display: inline-flex;
}
/*image-section*/
#images{
    height: calc(var(--ra) * 2);
    width: calc(var(--ra) * 4);;
    position: relative;
    display: inline-flex;
}
#left-img{
    height: calc(var(--ra) * 2);
    width: var(--ra);
    position: relative;
}
#left-img-helper{
    height: calc(var(--ra) * 2);
    width: calc(var(--ra) * 2);
    position: absolute;
    right: 0;
    background-color: var(--imgBG);
    background-image: url(/src/image/4.png);
    background-size: auto 100%;
}
#right-img{
    height: calc(var(--ra) * 2);
    width: calc(var(--ra) * 3);
    background-color: var(--sq);
    background-image: url(/src/image/5.png);
    background-size: auto 100%;
}
#buttons{
    height: var(--ra);
    width: var(--ra);
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    background-color: white;
}
#words{
    padding-right: var(--ra);
    width: calc(var(--ra) * 3);
}
